<div>
  <!-- <app-login></app-login> -->
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-8">
      <div class="row">
        <!-- <app-login></app-login> -->

      </div>

      <div class="row">
        <!-- <router-outlet></router-outlet> -->

        <app-new-patient></app-new-patient>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Basic Info"> 
                <app-patient-info></app-patient-info>
                
            </mat-tab>
            <mat-tab label="Address"> Address</mat-tab>
            <mat-tab label="Allergies"> Allergy </mat-tab>
            <mat-tab label="Illness"> Illness </mat-tab>
            <mat-tab label="Immunisation"> Immunisation </mat-tab>
            <mat-tab label="Lab Reports"> Lab Reports </mat-tab>
            <mat-tab label="Hospitalisation"> Hospitalisation </mat-tab>
            <mat-tab label="Notes">Notes</mat-tab>
            <mat-tab label="Audit Details">
                <table class="table table-condensed table-dark">
                    <caption>Patient Audit Trail</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Attribute</th>
                        <th scope="col">previous Value</th>
                        <th scope="col">new Value</th>
                        <th scope="col">changed By</th>
                        <th scope="col">updated on</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entry of patientAudit">
    
                        <th scope="row"> <a href="#"> {{entry.entityId}} </a> </th>
                        <td>{{entry.entityType}}</td>
                        <td>{{entry.attributeUpdated}}</td>
                        <td>{{entry.previousValue}}</td>
                        <td>{{entry.newValue}}</td>
                        <td>{{entry.changedBy}}</td>
                        <td>{{entry.updatedOn}}</td>
                      </tr>
                    </tbody>
                  </table>
    

            </mat-tab>
        </mat-tab-group>


        

        <!-- <div class="col-md-2">
                <div class="row">
                        <app-login></app-login>
                </div>
    
                <hr>
    
                <div class="row">
                        <app-login></app-login>
                </div>
            </div> -->
      </div>
    </div>