<div>
    <div class="col-md-12">
        <div class="page-header">
            <h1><a href="https://en.wikipedia.org/wiki/Electronic_health_record" target="_blank"> {{title}}
                    <span class="glyphicon glyphicon-link" aria-hidden="true">
                    </span> </a>
                <small>
                    <!-- <app-login></app-login> -->
                </small></h1>
        </div>
        <div>

            <div class="col-md-8">
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xIrpbR4f2y8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> -->
            </div>

            <div class="col-md-4">
                <div class="row">
                </div>
            </div>

        </div>
    </div>
</div>

<app-admin></app-admin>
<app-patient></app-patient>
